<!doctype html>
<html lang="en" ng-app="CodePrettify">
  <head>
    <meta charset="utf-8">
    <title>Rosetta Fight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/components/angular/angular.min.js"></script>
    <script src="/static/js/angular_app.js"></script>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="RosettaController">
    <div class="container-fluid">
      <div class="row-fluid">
        <h2>Rosetta Fight</h2>
        <form id="taskSelectorArea" class="form-search" ng-cloak>
          <select class="span3" ng-disabled="tasklist == null" ng-model="taskSelector" ng-options="task for task in tasklist" ng-required ng-cloak></select>
          <button type="submit" ng-click="retrieveTask()">Submit</button>
        </form>
      </div>
      <p id="taskDescription" ng-show="selectedTask" ng-cloak>
        Viewing <b>{{ selectedTask }}</b> with solutions in <ng-pluralize count="totalSolutions()" when="{0: 'no languages', 1: 'one language', 'other': '{} languages'}"></ng-pluralize>.
      </p>

      <div id="solutions" class="row-fluid" ng-show="solutions" ng-cloak>
        <div class="span6">
          <h3>Python</h3>
          <div ng-repeat="sol in solutions['python']">
            <pre class="prettyprint pre-scrollable" ng-bind-html-unsafe="sol|prettify"></pre>
          </div>
          <div class="well" ng-show="!solutions['python']">
            No solutions available.
          </div>
        </div><!-- /span6 -->

        <div class="span6">
          <h3>Go</h3>
          <div ng-repeat="sol in solutions['go']">
            <pre class="prettyprint pre-scrollable" ng-bind-html-unsafe="sol|prettify"></pre>
          </div>
          <div class="well" ng-show="!solutions['go']">
            No solutions available.
          </div>
        </div><!-- /span6 -->
      </div><!-- /row -->

    </div>

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert&autoload=false"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
  </body>
</html>
